# To create a new environment with the required packages:

# pyenv local 3.11.3
# python -m venv .venv
# source .venv/bin/activate
# pip install --upgrade pip
# pip install -r requirements.txt

BeautifulSoup4
jupyterlab
lxml
matplotlib
numpy
pandas
requests
seaborn