# AWS configuration
aws_region = "eu-central-1"

# Environment
environment = "dev"  # Options: dev, test, prod

# Storage
s3_bucket_name_prefix = "job-market-data"  # Will be prefixed with environment

# Database settings
athena_database_name = "job_market_bronze"

# Project name
project_name = "job-market-pipeline"

# S3 Bucket name
raw_data_bucket_name = "stepstone-raw-data"

# EC2 configuration
ec2_ami_id = "ami-04e601abe3e1a910f"  # Ubuntu 22.04 LTS in eu-central-1
ec2_instance_type = "t3.medium"
ec2_key_name = "your-key-pair-name"  # Replace with your actual key pair name

# Example of other configurations
s3_bucket_name = "example-bucket-name"
